<nav class="navbar navbar-expand-lg bg-light">
    <div class="container py-2">
        <a class="navbar-brand fs-3" href="/">
            <img src="/static/images/loggo.png" alt="Logo" width="50" height="46" class="d-inline-block align-text-top">
            TradeLog
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2  fs-6 fw-semi-bold">
          <li class="nav-item">
            <a class="nav-link active me-4 " id="signup" aria-current="page" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-4"  id="about" aria-current="page" href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active me-5"  id="contact" aria-current="page" href="#con">Contact us</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>