<%- include('partials/header'); %>
    <%- include('partials/navbar'); %>

        <div class="container text-center mt-3">
            <div class="container ">
                <h2 class="fs-2 mb-2"style="text-decoration:underline 2px solid grey;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" >About Us</h2>
                <div class="container py-4 mb-4 fs-5  " style="background-color: rgba(240, 248, 255, 0.415);width:50%;text-align:justify; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <p>We are a trading journal business that specializes in providing users with a platform to log and
                        store their daily stock market buy and sell trades. Our platform is designed to help traders
                        keep track of their trades, analyze their performance, and make informed decisions based on
                        their trading data.

                        Our trading journal is user-friendly and easy to navigate, allowing users to input and organize
                        their trade data efficiently. We offer a variety of features, including the ability to
                        categorize trades, attach notes and charts, and view performance metrics such as profit and
                        loss.

                        Our platform is built with security in mind, ensuring that all user data is kept private and
                        secure. We also provide users with access to a community of traders where they can share ideas,
                        strategies, and insights.

                        At our core, we believe in empowering traders to become more disciplined and effective by
                        providing them with the tools and resources they need to succeed</p>
                </div>
            </div>
        </div>

        <%- include('partials/footer'); %>