<%-include('partials/header') ;%>

<div class="container-fluid ">
    <%-include('partials/navbarhome') ;%>
</div>

<div class="container-fluid ms-5 mt-3 mb-5">
    <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-6 mt-5">
            <div class="container">
                <h1 style="font-size:55px;color:rgb(48, 48, 134) ">Future of <br> Journaling Trades</h1>
                <!-- <br> -->
                <p class=" mt-3 fs-5"> Maximize your trading performance with our<br>user-friendly journal. Log, track and analyze your stock market trades and connect with other traders.<br>TradeLog company focused on helping traders improve their performance through the practice of journaling. By providing powerful tools and resources, TradeLog empowers traders to track their progress and make better trading decisions.</p>
                <div class="container mt-4">
                    <a class="btn fw-bold" id="adt" href="/newtrade" >Add Trade</a>
                    
                    <a class="btn fw-bold" id="gtd"  href="/home">Goto Dashboard </a>
                </div>
            </div>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-6">
            <img src="static/images/homeland1.jpg" class="img-responsive me-4" style="width:90%;height:90%">
        </div>
    </div>
</div>

<!-- </div> -->
<%-include('partials/footer') ;%>