<%- include('partials/header'); %>
<div class="main" >
    <%- include('partials/navbar'); %>
        <div class="container mb-5" >
            <div class="container">
                <div class="row ">
                    <div class="col col-sm-6 col-lg-6 col-xs-6 col-md-6 mt-4 ">
                        <div class="container py-5">
                            <h1 style=" font-size:4rem;color:rgb(38, 34, 125)">TradeLog</h1>
                            <div class="container py-3 fs-5 " >
                                <p>TradeLog is a company  that offers a platform for traders to efficiently
                                    record and analyze their trades. This platform allows traders to easily log their trades,
                                    including entry and exit points, stop loss levels, and profit targets. Trade Log's analytic
                                    tools allow traders to easily analyze their trades, identify patterns, and track their
                                    performance. By using this platform, traders can quickly identify areas where they need to
                                    improve and develop a more successful trading strategy. Trade Log's efficient trade
                                    recording and analytic tools make it an invaluable tool for traders who want to improve
                                    their trading performance.</p>
                            </div>
                            <div class="container">
                                <div class="container">
                                    <a href="/login" class="btn btn-lg btn-primary  " id="logbt" style="border: 4px double rgb(44, 42, 161);"  >Login</a>
                                    <span class="container">
                                        <a href="/signup" id="signupbt" class="btn btn-lg btn-success  "style="border: 4px double rgb(39, 127, 64);" >Signup</a>
    
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6 col-lg-6 col-xs-6 col-md-6 ">
                        <div class="container ">
                            <img src="/static/images/landing 1.png" class="img-responsive img-centered "
                                style="width:115% ;height:90%; object-fit:fill;">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container mb-5 " id="scroll-in">
            <div class="row">
                <div class="col col-sm-6 col-lg-6 col-xs-6 col-md-6 ">
                    <img src="/static/images/landing3.jpg" class="img-responsive img-centered "
                        style="width:90% ;height:110%; object-fit:fill;">
                </div>
                <div class="col col-sm-6 col-lg-6 col-xs-6 col-md-6 ">
                    <div class="container">
                        <p class="fs-1 me-auto mt-3" > How it works?</p>
                        <p class="fs-5 " style="text-align: justify;">It is a platform that allows traders to log in to their account and record
                            their daily trades. This process is more efficient than traditional methods such as writing
                            in a diary or using Excel spreadsheets. By logging trades, traders can easily retrieve and
                            analyze data to identify trends, weaknesses, and strengths in their trading strategies. This
                            platform offers various analytic tools that traders can use to gain insights into their
                            performance and make informed decisions in the future. With TradeLog traders can improve
                            their trading strategies and increase their chances of success in the market.</p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer'); %>

    </div>

      <div class="none">
        <h1 style="color:red">Sorry!This Web app is only compatible with Desktop</h1>
      </div>
      